<!DOCTYPE html>
<html>

  <head>
  <link rel="stylesheet" type="text/css" href="style.css"/>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
  <script src="application.js"></script>
    <title>Racing!</title>
  </head>

  <body>

  <h1> JS Ruby Racerrrr </h1>
  <h3>Game Rules: </h3>
  <ul>
    <li>Player 1 advances using the up arrow key</li>
    <li>Player 2 advances using the up arrow key</li>
  </ul>
    <table class="racer_table">
      <tr id="player1_strip">
      <th scope= "row"><h2> Player 1 </h2></th>
        <td class="active1"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr id="player2_strip">
      <th scope= "row"><h2> Player 2 </h2></th>
        <td class="active2"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>

  </body>

</html>
