<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Local CSS -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- JQuery/AJAX -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Local JS -->
  <script src="/js/application.js"></script>

  <title>Project</title>
</head>
<body>
 <h1>Layout</h1>
  <%= yield %>
</body>
</html>
